body {
    margin: 0;
    padding: 0;
}

.header {
    /* display: flex; */
    width: 100%;
    /* border: 2px solid red; */


}

.header .inner-header {
    display: flex;
    width: 90%;
    /* border: 2px solid green; */
    justify-content: center;
    align-items: center;
    margin: 0px auto;
}

.header .inner-header .left-header {
    display: flex;
    width: 50%;
    /* border: 2px solid yellow; */
    justify-content: center;
    align-items: center;
}

.header .inner-header .left-header .logo {
    width: 20%;
    /* border: 2px solid blue; */
    margin-right: auto;
    cursor: pointer;
}


.header .inner-header .left-header .logo img {
    width: 125px;

}

.header .inner-header .left-header .left-nav {
    display: flex;
    width: 80%;
    list-style: none;
    align-items: center;
    font-size: 20px;


}

.header .inner-header .left-header .left-nav a {
    text-decoration: none;
    padding: 0px 15px;
    color: grey;
    transform: scale(1);
    transition:text color ;
    transition-duration: 1s;


}



.header .inner-header .right-header {
    display: flex;
    width: 50%;
    /* border: 2px solid black; */
    justify-content: center;
    align-items: center;
}


.header .inner-header .right-header .right-nav {
    display: flex;
    width: 80%;
    list-style: none;
    align-items: center;
    font-size: 20px;
    margin-left: 150px;
}

.header .inner-header .right-header .right-nav a {
    text-decoration: none;
    padding: 0px 15px;
    color: grey;
    transform: scale(1);
    transition:text color ;
    transition-duration: 1s;

}

.header .inner-header .right-header .btn  {
    margin-right:10px ;
     
}

.header .inner-header .right-header .btn button {
    width: 175px;
    height: 30px;
    background-color: black;
    transform: scale(1);
    transition-duration: 1s;
     
}

.header .inner-header .right-header .btn button:hover {
    transform: scale(1.15);
     
}

 

.header .inner-header .right-header .btn button a {
     text-decoration: none;
     font-size: 18px;
     color: white;
    

}

.header .inner-header .left-header .left-nav a:hover,
.header .inner-header .right-header .right-nav a:hover {
    transform: scale(1.15);
    font-size: 23px;
    color: black;
}

/* hero region */

.hero-container{
    width: 100%;
    /* border: 2px solid red; */
}

.hero-container .inner-hero{
    display: flex;
    flex-direction: column;
    width: 80%;
    /* border: 2px solid green; */
    justify-content: center;
    align-items: center;
    margin: 0px auto;
     
}

.hero-container .inner-hero .hero-items1{
    display: flex;
    flex-direction: column;
    max-width: 80%;
    /* border: 2px solid hotpink; */
    justify-content: center;
    align-items: center;
}

.hero-container .inner-hero .hero-items1 .primary-heading{
    font-size: 50px;
    max-width: 60%;
}

.hero-container .inner-hero .hero-items1 .para{
    font-size: 15px;
    max-width: 49%;
    margin-top: -40px;
}

.hero-container .inner-hero .hero-items1 .btn2  {
    margin-bottom: 15px;
}

.hero-container .inner-hero .hero-items1 .btn2 button{
    background-color: green;
    width: 250px;
    height: 50px;
    border-radius: 18px;
    transform: scale(1);
    transform: all;
    transition-duration: 1s;
    transition-timing-function: ease;
}

.hero-container .inner-hero .hero-items1 .btn2 button:hover{
     transform: scale(1.15);
}

.hero-container .inner-hero .hero-items1 .btn2 button a{
   text-decoration: none;
   font-size: 25px;
   color: white;

}

.hero-container .inner-hero .hero-items2 {
     display: flex;
     max-width: 80%;
     /* border: 2px solid purple; */
     justify-content: center;
     align-items: center;
     align-content: center;
 }


 .hero-container .inner-hero .hero-items2 img {
    width: 50%;
    justify-self: center;
}

.hero-container .inner-hero .hero-items3 {
   display: flex;
   flex-direction: row;
   width: 80%;
   align-items: center;
   justify-content: space-between;

   /* border: 2px solid black; */
}

.hero-container .inner-hero .hero-items3 .tool {
    display: flex;
    flex-direction: column;
    max-width: 20%;
    /* border: 2px solid greenyellow; */
    justify-content: center;
    align-items: center;
}

.hero-container .inner-hero .hero-items3 .ternary-heading {
    font-size: 20px;
 }

 .hero-container .inner-hero .hero-items3 .para {
   margin-top: -20px;
 }

/* hard part */

.illustrations{
    display: block;
    width: 100%;
    /* border: 2px solid red; */
    /* background-color: orange; */
}

.illustrations .inner-illustration{
    display: flex;
    width: 80%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
    /* border: 2px solid green; */
    /* background-color: orange; */

}

.illustrations .inner-illustration .info-container{
      display: flex;
      width: 80%;
      /* border: 2px solid black; */
      justify-content: center;
      align-items: center;

}

.illustrations .inner-illustration .info-container .info{
    display: flex;
    width: 50%;
    flex-direction: column;
    /* border: 2px solid yellow; */
    align-items: center;
}

.illustrations .inner-illustration .info-container .info .content{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}

.illustrations .inner-illustration .info-container .info .content h2{
    font-size: 35px;
}

.illustrations .inner-illustration .info-container .info .content p{
    font-size: 18px;
    margin-top: -20px;
}


.illustrations .inner-illustration .info-container .info .content .btn{
    width: 50%;
    height: 35px;
    border-radius: 18px;
    background-color: #6C63FF;
}

.illustrations .inner-illustration .info-container .btn a{
    font-size: 18px;
    text-decoration: none;
    color: black;
}

.illustrations .inner-illustration .info-container .info .resource{
    display: flex;
    width:100% ;
    /* border: 2px solid violet; */
    justify-content: space-between;
}

.illustrations .inner-illustration .info-container .info .resource .meta{
    width: 40%;

}

.illustrations .inner-illustration .info-container .info .resource .meta h4{
   font-size: 20px;

}

.illustrations .inner-illustration .info-container .info .resource .meta p{
    font-size: 15px;
 
 }
.illustrations .inner-illustration .info-container .image-illustration{
    width: 50%;
}


.illustrations .inner-illustration .info-container .image-illustration img{
    width: 100%;
    height: 100%;
    margin-left: 60px;
    position: relative;
    /* top: 60px; */
}


.illustrations .inner-illustration .review-container{
    display: flex;
    width: 80%;
    flex-direction: column;
    padding: 45px;
    /* border: 2px solid pink; */
    background-color: #6C63FF;
    border-radius: 70px;

}
.illustrations .inner-illustration .review-container .profile{
    display: flex;
    
    width:80% ;
}

.illustrations .inner-illustration .review-container .profile .profile-meta{
    display: flex;
    width: 20%;
    /* border: 2px solid brown; */
}
.illustrations .inner-illustration .review-container .profile .profile-meta .profile-image{
    width: 50%;
    align-self: center;
    justify-self: center;
}

.illustrations .inner-illustration .review-container .profile .profile-meta .name{
    width: 50%;
    align-self: center;
    justify-self: center;
    font-size: 20px;
    margin: auto;
}

.illustrations .inner-illustration .review-container .profile .ratings{
    margin-left: auto;
}

.illustrations .inner-illustration .review-container .profile .profile-meta img{
    width: 60px;
    height: 60px;
}

.illustrations .inner-illustration .reverse{
    display: flex;
    flex-direction: row-reverse;
    width: 80%;
    /* border: 2px solid black; */
    justify-content: center;
    align-items: center;

}

.illustrations .inner-illustration .reverse .image-illustration img{
    width: 100%;
    height: 100%;
    margin-left: 0px;
    position: relative;
    /* top: 60px; */
}


/* second last part */

.services{
    width: 100%;
    /* border: 2px solid red; */
}

.services .inner-services{
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
    /* border: 2px solid green; */
}

.services .inner-services .sells{
    display: flex;
    width: 80%;
    border: 3px solid black;
    align-items: center;
    /* justify-content: o; */
    padding: 45px;
    border-radius: 60px;
    margin: 15px 0px;


}

.services .inner-services .sells .inner-sells{
    display: flex;
    flex-direction: column;
    max-width: 30%;
    border-radius: 80px;

}

.services .inner-services .sells .inner-sells h2{
     font-size: 35px;
}

.services .inner-services .sells .inner-sells p{
    margin-top: -15px;
    color: gray;
}

.services .inner-services .sells .options{
    display: flex;
    max-width: 30%;
    margin-left: auto;
    margin-bottom: auto;
    align-items: center;
    justify-content: center;
}

.services .inner-services .sells .options .inner-options{
    display: flex;
    flex-direction: column;
}

.services .inner-services .sells .options h1{
    font-size: 100px;
    font-weight: bold;
}

.services .inner-services .sells .options small{
    margin-top: -75px;
    text-align: center;
}


.services .inner-services .service{
    display: flex;
    width: 80%;
    /* border: 3px solid black; */
    padding: 45px;
    align-items: center;
    justify-content: center;
    /* border-radius: 80px; */

}

.services .inner-services .service .service-items{
    display: flex;
    flex-direction: column;
    max-width: 30%;
    /* align-items: center; */
    /* justify-content: center; */
    margin: 0px 100px;
    border: 3px solid yellow;
    border-radius: 10px;

}

.services .inner-services .service .service-items img{
    width: 50px;
    background-color: yellow;
    border-radius: 15px;
    padding: 10px;
}
 
.services .inner-services .service .service-items small{
    margin-top: -15px;
}

.services .inner-services .service .service-items .btn{
    margin-top: 80px;
    max-width: 90%;
    height: 25px;
    border-radius: 10px;
    background-color: yellow;
}

.services .inner-services .service .service-items .btn a{
    text-decoration: none;
    font-size: 20px;
    color: black;
}

.services .inner-services .cta{
    display: flex;
    width: 80%;
    border: 3px solid black;
    padding: 45px;
    align-items: center;
    justify-content: center;
    border-radius: 60px;
}

.services .inner-services .cta h1{
    font-size: 35px;
    max-width: 50%;
}

.services .inner-services .cta .btn{
    margin-left: auto;
    width: 250px;
    height: 50px;
    border-radius: 25px;
    background-color: yellow;
}

.services .inner-services .cta .btn a{
  text-decoration: none;
  font-size: 20px;
}


/* footer */

.footer{
    width: 100%;
    /* border: 2px solid red; */
    background-color: black;
    margin-top: 10px;
}

.footer .inner-footer{
    display: flex;
    flex-direction: column;
    width: 80%;
    /* border: 2px solid green; */
    justify-content: center;
    align-items: center;
    margin: 0px auto;
}
.footer .inner-footer .non-legal{
    display: flex;
    width: 80%;
    border: 2px solid black;
    margin: 30px 0px;
}

.footer .inner-footer .non-legal .logo img {
    width: 200px;
    filter: invert(1);
}

.footer .inner-footer .non-legal .btn {
    margin-left: auto;
    background-color: orange;
    border-radius: 15px;
}

.footer .inner-footer .non-legal .btn a{
    text-decoration: none;
    font-size: 20px;
    color: white;
}

.footer .inner-footer .non-legal .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    color: white;
}

.footer .inner-footer .non-legal .nav li {
    padding: 0px 18px;
    font-size: 20px;
    list-style: none;
}


.footer .inner-footer .legal{
    font-size: 20px;
    color: white;
}